.nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: rgb(249, 249, 250);
	padding: 20px 50px;
	box-sizing: border-box;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.nav__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__link {
	color: rgb(47, 54, 62);
	position: relative;
}

.nav__notification {
	position: absolute;
	left: 22px;
	bottom: 18px;
}

.nav__dot {
	position: absolute;
	left: 30px;
	bottom: 26px;
}
