.screen-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 55px 20px 35px;
}

.screen-header__title {
	font-size: 30px;
	font-weight: 600;
}

.screen-header__icons span {
	margin-left: 20px;
}

.screen-header__dot {
	display: block;
	position: absolute;
	right: 15px;
	top: 55px;
}
